
.header {
  background-color: #e4e4cc;
  height: 120px;
}

/* Add a black background color to the top navigation */
.topnav {
    text-align: center;
    display: block;
    float: right;
    margin-top: 60px;
  }

  .header img {
    float: left;
    display: block;
    height: 135px;
    padding: 18px 25px 0px; 
  }
  
  .search-container {
    margin-top: 0;

  }

  /* Style the links inside the navigation bar */
  .topnav a {
    display: inline-block;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    bottom: 0;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: rgba(34, 25, 25, 0.507);
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: rgba(34, 25, 25, 0.507);
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 885px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    
  }

  @media screen and (max-width: 370px) {
    .topnav {display: block; float: none; margin-top: 0px;}
    .topnav a {
      display: block;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      color: black;
      bottom: 0;
      padding: 5px;
    }
    .topnav a.icon {display: none;}
    .header img {float: none; margin-left: auto; margin-right: auto;}
    .search-container {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (min-width: 359px) {
    .topnav.responsive {position: relative; flex-direction: column;}
    .topnav.responsive a.icon {
      display: block;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      clear: left;
      text-align: right;
      flex-direction: column;
      padding: 14px 20px 2.5px;
      
    }
  }